<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<virtualType name="Margifox\EducationPortal\Model\ResourceModel\Portal\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">education_portal</argument>
			<argument name="resourceModel" xsi:type="string">Margifox\EducationPortal\Model\ResourceModel\Portal\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="educationportal_portal_listing_data_source" xsi:type="string">Margifox\EducationPortal\Model\ResourceModel\Portal\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
</config>
