<?xml version="1.0"?>
<!--
  ~ @copyright Copyright (c) 2016 Fooman Limited (http://www.fooman.co.nz)
  ~
  ~ For the full copyright and license information, please view the LICENSE
  ~ file that was distributed with this source code.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Sales::sales" title="Sales" sortOrder="20">
                    <resource id="Magento_Sales::sales_operation" title="Operations" sortOrder="10">
                        <resource id="Fooman_Surcharge::surcharge" title="Surcharges" sortOrder="10" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
