<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
<!--     <preference for="Smile\ElasticsuiteCatalog\Model\Autocomplete\Product\ItemFactory" type="Margifox\Catalog\Model\Autocomplete\Product\ItemFactory" /> -->
<!--     <preference for="Smile\ElasticsuiteCatalog\Model\Autocomplete\Product\Attribute\ItemFactory" type="Margifox\Catalog\Model\Autocomplete\Product\Attribute\ItemFactory" /> -->
</config>