<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- commands -->
    <type name="Magento\CatalogSearch\Block\Result">
        <plugin name="tesultchange" type="Margifox\Search\Model\Resultchange" sortOrder="10" />
    </type>
    
</config>