<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="company_set_brands_after">
        <observer name="Margifox_BrandReward_Company_SetBrands" instance="Margifox\BrandReward\Observer\SetCompanyBrands"/>
    </event>
</config>
